* {
    margin: 0;
}

body {
    background-color: #76768b;
}

.conteiner_gsm {
    width: 390px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.conteiner {

    margin: 10px;
    width: 150px;
    align-items: center;
    text-align: center;
}

.radio_wrap {
    width: 360px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body_wrap_element {
    border: 1px solid #525261;
    border-radius: 10px;
    background-color: #e5e5f0;
}

input[type="radio"] {
    accent-color: #525261;
    width: 22px;
    height: 22px;
}

fieldset {
    margin: 5px auto;
    font-size: 22px;
}

.range {
    margin-top: 10px;
    width: 360px;
    display: flex;
    justify-self: center;

}

.header {
    background-color: #525261;
}

.p_header {
    color: #e5e5f0;
    text-align: center;
    font-size: 50px;
}

#benzin {
    display: flex;
    margin: 25px auto;
    accent-color: #525261;
    width: 350px;
}

.img_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.gsm_span {
    font-size: 20px;
    font-style: italic;
    color: #1c1c1e;
}

.gsm_p {
    font-size: 30px;
}

.gsm_p_val {
    font-size: 40px;
}
